<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">About Us</h2>
                <p>We are passionate about sports and dedicated to providing high-quality gear, apparel, and accessories for athletes and fitness enthusiasts. Whether you're into basketball, running, cycling, or outdoor adventures, we offer top-notch products to help you perform at your best.

                   We believe in combining quality, affordability, and excellent customer service. Join our community and elevate your game with us!</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Shipping</h3>
                            <p>Delivery typically takes 3-7 business days</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Easily browse and find what you need with our intuitive categories and filters.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Our dedicated support team is available 24/7 to assist with any questions, order issues, or product inquiries.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Return items within  days of purchase for a full refund or exchange.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="images/tennis.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>