<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="images/tennis.jpg" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="images/ball2.jpg" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="images/ring.jpg" alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">We Can Help you Choose the Right Gear Equipment </h2>
                <p>we go beyond just providing high-quality sports gear. We’re committed to offering exceptional services that cater to the needs of athletes and fitness enthusiasts alike. Here’s how we support you:</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Personalized Gear Consultation</li>
                    <li>Equipment Customization</li>
                    <li> Free Delivery</li>
                    <li>Repairs and Maintenance</li>
                </ul>
                <p><a herf="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>