<div class="home-section" style="background-image: url('images/badminton.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"; padding: 20px; border-radius: 10px;">
                <h2 class="section-title" style="font-family: 'Arial', sans-serif; color:#fafafa; font-size: 45px;">SPORTS GEAR</h2>
                <br>
                <p style="font-family: 'Arial', sans-serif;  color: #d9e9d9; line-height: 1.8; font-size: 19px;">
                    Welcome to our sports gear store! We offer a wide variety of products to cater to all your athletic needs. From high-performance running shoes to durable cycling gear, we've got you covered. Our commitment to quality ensures that you get the best equipment for your training sessions and competitions. Explore our collections and gear up for success!
                </p>
                <p><a herf="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
