<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                <p class="mb-4">At our sports gear shop, we’re passionate about helping athletes of all levels achieve their goals.  </p>
                <p><a href="shop.html" class="btn">Explore</a></p>
            </div> 
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="images/badmin.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Badminton</h3>
                    <strong class="product-price">$50.00</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
                <button class="btn add-to-cart" data-id="1" data-name="Nordic Chair" data-price="50">Add to Cart</button>
            </div> 
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="images/set.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Tennis set</h3>
                    <strong class="product-price">$78.00</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
                <button class="btn add-to-cart" data-id="2" data-name="Kruzo Aero Chair" data-price="78">Add to Cart</button>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="images/ball.png" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Ball</h3>
                    <strong class="product-price">$43.00</strong>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
                <button class="btn add-to-cart" data-id="3" data-name="Ergonomic Chair" data-price="43">Add to Cart</button>
            </div>
            <!-- End Column 4 -->

        </div>
    </div>
</div>

<script src="cart.js"></script>
