<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-commerce Admin Panel</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>

  </header>
  <div class="container">
    <%- body %> <!-- This will be replaced by content from other EJS files -->
</div>
  
</body>
</html>
